{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
  <img src="{{artist.img}}" alt="{{artist.name}}" />
</div>
<div class="detail__name">
  {% if artist.verified_artist %}
  <div class="icon-text">
    <span class="icon has-text-info">
      <i class="fas fa-check-circle"></i>
    </span>
    <span>Verified Cat</span>
  </div>
  {% endif %}
  <h1 class="title">{{artist.name}}</h1>
</div>
    <div class="detail__container">
    <div class="detail__artworks mb-5">

        <h3 class="title is-3">Artworks</h3>
        {% for artworks in artist.artworks.all %}
        <div class="artwork">
        <span>{{forloop.counter}}</span>
        <span><b>{{artworks.title}}</b></span>
        <span>{{artworks.image}}</span>
        <span>{{artworks.get_length}}</span>
        </div>
        <span>
          <div class="dropdown">
            <div class="dropdown-trigger">
              <button
                class="button"
                aria-haspopup="true"
                aria-controls="dropdown-menu"
              >
                <span>Add to Art Gallery</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                {% for artgallery in artgallerys %}
                <a
                  href="{% url 'artgallery_artworks_assoc' artgallery.pk artworks.pk %}?assoc=add"
                  class="dropdown-item"
                >
                  {{artgallery.title}}
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </span>

        {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Artworks Available</p>
                </div>
            </article>

        {% endfor %}
    </div>
    <form class="mb-5" action="{% url 'artworks_create' artist.pk %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
        <div class="control">
            <input
            class="input"
            type="text"
            name="title"
            placeholder="Title"
            required
            />
        </div>
        <div class="control">
            <input
            class="input"
            type="number"
            name="length"
            placeholder="Date of Artwork /YY"
            min="1"
            required
            />
            <div class="control">
             <input
             class="input"
             type="text"
             name="image"
             placeholder="Add Image"
             required
             />
            </div>
        </div>
        <div class="control">
            <input class="button is-primary" type="submit" value="Add Artwork" />
        </div>
        </div>
    </form>
    <a href="{% url 'artist_update' artist.pk %}" class="button is-info">Edit
        <span class="icon">
          <i class="fas fa-edit"></i>
        </span>
      </a>
    <a href="{% url 'artist_delete' artist.pk %}" class="button is-danger">Remove
      <span class="icon">
        <i class="fas fa-trash-alt"></i>
      </span>
    </a>
  </div>
  <div class="detail__about">
    <h4 class="title is-4">About</h4>
    <p>{{artist.bio}}</p>
  </div>
</div>

{% endblock %}